---
layout: default
title: Humeurs, LGBT, geek, ... un peu de moi en somme.
description:
---

<section class="blog single">

	<div class="wrap">

		{% for post in paginator.posts %}

		<article class="blog-post h-entry">

			<div class="blog-post__header">
				<h2 class="blog-post__title p-name"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle"><i class="fad fa-calendar"></i> <time class="dt-published" datetime="{{post.date}}">{{ post.date | date_to_long_string }}</time> <i class="fad fa-hashtag"></i> {{ post.tags | array_to_sentence_string }}</p>
			</div>

			{% if post.featured_image %}
			{% comment %}Generate optimized image URL (800px wide for blog listing){% endcomment %}
			{% capture optimized_image %}{% include netlify-image.html src=post.featured_image width=800 fit="contain" quality=80 %}{% endcapture %}
			<a href="{{ post.url | relative_url }}" class="blog-post__image" style="background-image: url({{ optimized_image | strip }});"></a>
			{% endif %}

			<div class="blog-post__content">
				<p class="p-summary">{{ post.excerpt }}</p>
				<p><a href="{{ post.url | relative_url }}" class="button u-url">Read More</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</section>

{% endif %}
